/* This site was designed and coded from scratch by Adam Inglis. http://www.adaminglis.com  */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import "normalize.css";

body {
  margin: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* NOTE: fixed and scrolling columns */


.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

.about {
  margin: 10%;
}

.wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
}

.sidebar-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  width: 30vw;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 50px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.content-wrapper {
    position: static;
    overflow: auto;
    /* width: 70%; */
    margin-left: 30vw;
    float: none;
    clear: none;
}


 /* NOTE: font and headings */
h1 {
  font-family: "PT Sans";
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 28.6px;
  color: #575454;
}

h2 {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  color: #fff;
  text-shadow: 1px 1px 2px #636363;
}

h3 {
  font-family: "PT Sans";
  font-size: 12px;
  /* line-height: 0px; */
  font-weight: normal;
  font-variant: normal;
  color: #fff;
  margin-bottom: 0;
  line-height: normal;
  text-shadow: 1px 1px 2px #636363;
}

h4 {
  font-family: "PT Sans";
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  text-shadow: 1px 1px 2px #636363;
  margin-bottom: 0;
  color: #fff;
}

h6 {
  font-family: "PT Sans";
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: #575454;
}

p {
  font-family: "PT Sans";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: #575454;
}

blockquote {
  font-family: "PT Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "PT Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

/* NOTE: footer style */
footer {
  padding-top: 30px;
  padding-left: 100px;
  position: absolute;

}

a.class1:link {
  text-decoration: none;
  color: #DF1F26;
}

a.class1:visited {
  color: #DF1F26;
}

a.class1:hover {
  text-decoration: underline;
}


a.class2:link {
  text-decoration: none;
  color: #fff;
}

a.class2:visited {
  color: #fff;
}

a.class2:hover {
  text-decoration: underline;
}


a.class3:link {
  text-decoration: none;
  color: #;
}

a.class3:visited {
  color: #;
}

a.class3:hover {
  text-decoration: none;
}

.resume {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* NOTE: logo */

/* NOTE: about me */

.about_copy {
  width: 220px;
}
/* NOTE: image */

img {
  max-width: 100%;
  vertical-align: middle;
  align: center;
  display: inline-block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}A

/* NOTE: list settings */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  /* float: left; */
}

li a {
  display: block;
}

/* NOTE: social icons */

.social {
  }
  .social li { display: inline-block; }

.behance_icon {
  filter: gray;
  opacity: 100%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.behance_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.dribbble_icon {
  filter: gray;
  opacity: 90%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.dribbble_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.linkedin_icon {
  filter: gray;
  opacity: 90%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.linkedin_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.pinterest_icon {
  filter: gray;
  opacity: 70%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.pinterest_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.vsco_icon {
  filter: gray;
  opacity: 70%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.vsco_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}


.spotify_icon {
  filter: gray;
  opacity: 90%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.spotify_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.vsco_icon {
  filter: gray;
  opacity: 90%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.lastfm_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.lastfm_icon {
  filter: gray;
  opacity: 90%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.twitter_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.twitter_icon {
  filter: gray;
  opacity: 90%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.github_icon:hover {
  -webkit-filter: grayscale(0);
  opacity: 100%;
  filter: none;
}

.github_icon {
  filter: gray;
  opacity: 90%;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}


/* NOTE: portfolio items */

.hero_image {
  margin: 0 auto;
  display: block;
}
.below_hero {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.above_hero {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.project_social {
  display: flex;
  justify-content: space-between;
}
.work_role {

  justify-content: space-space-around;
  display: grid;
}
.work_number {

  justify-content: space-space-around;
  display: grid;
}

.role {
  justify-content: space-space-around;
  display: grid;
}

.project {
  justify-content: space-space-around;
  display: grid;
}

.project_on_social {

  justify-content: space-space-around;
  display: grid;
}

.folio_1 {
  background-color: #1a8dcc;
  width: "100%";
  padding-top: 2%;

}

.folio_2 {
  background-color: #f05c38;
    width: "100%";
    padding-top: 2%;

}

.folio_3 {
  background-color: #B08ABD;
    width: "100%";
    padding-top: 2%;

}

/* NOTE: scripts */

html.w-mod-js *[data-ix="work-transition"] {
  opacity: 0;
  -webkit-transform: translate(0px, 65px);
  -ms-transform: translate(0px, 65px);
  transform: translate(0px, 65px);
}

html.w-mod-js *[data-ix="text-slide"] {
  opacity: 0;
  -webkit-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate(-25px, 0px);
}

html.w-mod-js *[data-ix="header-transition"] {
  opacity: 0;
  -webkit-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate(-25px, 0px);
}

html.w-mod-js *[data-ix="logo-animation"] {
  opacity: 0;
  -webkit-transform: translate(-23px, 0px);
  -ms-transform: translate(-23px, 0px);
  transform: translate(-23px, 0px);
}

html.w-mod-js *[data-ix="text-slide-2"] {
  opacity: 0;
  -webkit-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate(-25px, 0px);
}

html.w-mod-js *[data-ix="social"] {
  opacity: 0;
  -webkit-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate(-25px, 0px);
}

html.w-mod-js *[data-ix="work-fade"] {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="new-interaction"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/* NOTE: responsive screen settings */

@media (max-width: 991px) {
  .sidebar-wrapper {
    position: static;
    /* width: 100%; */
    width: auto;
  }
  .content-wrapper {
    width: 100%;
    margin-left: 0%;
  }

@media (max-width: 767px) {
  .sidebar-wrapper {
    position: static;
    /* width: 100%; */
        width: auto;
  }
  .content-wrapper {
    width: 100%;
    margin-left: 0%;
        width: auto;
  }

@media (max-width: 479px) {

  .sidebar-wrapper {
    position: static;
    width: auto;
    height: auto;
        width: auto;
  }
  .content-wrapper {
    width: 100%;
    margin-left: 0%;
        width: auto;
  }
